#minimiseButton, #closeButton {
    font-size: 20px;
    border: none;
    text-align:center;
    padding: 5 10px;
    margin: 0px;

    background-color: transparent;
}

#minimiseButton:hover {
    background-color: #00000038;
}

#closeButton:hover {
    background-color: #b32323;
    
}
