#minimiseButton, #closeButton {
    font-size: 20px;
    border: none;
    text-align:center;
    padding: 5 10px;
    margin: 0px;

    background-color: transparent;
}

#newTabButton{
    font-size: 15px;
    border: none;
    text-align:center;
    padding: 5 10px;
    margin: 0px;

    background-color: transparent;
}

QMainWindow
{
    background-color: grey;
}

#tabBar
{
    background-color: blue;
}
QListView
{
    background-color: #b32323;
}
#minimiseButton:hover {
    background-color: #00000038;
}

#closeButton:hover {
    background-color: #b32323;
    
}

